.section{

margin-bottom:30px;

}

.section h2{

margin-bottom:15px;
color:#2563eb;

}

.section input{

width:100%;
padding:12px;
margin-bottom:15px;
border-radius:8px;
border:1px solid #ddd;

}

.section textarea{

width:100%;
padding:12px;
border-radius:8px;
border:1px solid #ddd;

}